body {
    background-image: url(/UI/static/Images/darker.jpg);
    color: #ffffff;
     height: 100vh;
     background-position: center;
     margin: 20px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
button {
    border-radius: 20px;
    color: #ffffff;
    background-color: #000;
    cursor: pointer;
    margin: 15px;
    height: 30px;
    
}
.account-details {
    margin: 50px;
    padding-left: 10px;
    padding-top: 40px;
}
.comments {
    padding-bottom: 30px;
    padding-left: 40px;
    margin: 10px;
}
.video-details {
    display: inline-block;
    padding-left: 400px;
    margin-top: 40px;
    object-position: right;
    padding-bottom: 110px;
}
.series {
    
    margin-top: 10px;
    cursor: pointer;
    padding-left: 90px;
    transition: 15px;
}
.series:hover{
    transform: translateY(-10px);
}
.access-point{
    position :fixed;
    top: 0;
    left: 0;
    height:100%;
    width: 200px;
    background: rgb(19, 18, 18);
    border-right: 2px solid rgb(26, 22, 22);
    box-shadow: 0 0 10px 5px rgba(184, 51, 51, 0.815);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.access-point--open{
    left: 0 ;
    opacity: 1;
}
nav{
    position: relative;
    display: flex;
    float: right;

}
.links{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background:  rgb(19, 18, 18);
    color:#EEE5E5;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 1px solid  rgb(201, 184, 184);
}
.links span{
    margin-right:12px;
}
.links:hover{
    background:#EEE5E5;
    color: #000;
}





