body {
    background-image: url(/UI/static/Images/darker.jpg);
    color: #ffffff;
     height: 100vh;
     background-position: center;
     margin: 20px;
     @media only scream and (max-width: 500px);
}
     
button {
    color: #000;
    background-color: #9C3B3B;
    cursor: pointer;
    border: #9C3B3B;
    margin: 5px;
    
}
.account-details {
    margin: 50px;
    padding-left: 10px;
    padding-top: 40px;
}
.comment {
    padding-left: 40px;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    
}



.video-details {
    display: inline-block;
    padding-left: 400px;
    margin-top: 40px;
    object-position: right;
    padding-bottom: 110px;
    @media only scream and (max-width: 500px); 
}
.series {
    
    margin-top: 10px;
    cursor: pointer;
    padding-left: 90px;
    transition: 15px;
}
.series:hover{
    transform: translateY(-10px);
}
.container {
    display: flex;
}
textarea {
    height: 40px;
    width: 20%;
}
 input[type="submit"],button {
    cursor: pointer;
    border: none;

    }
    input[type="submit"] {
        background-color: #9C3B3B;
    }






