body {
  background-image: linear-gradient(rgba(0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/UI/static/Images/netflix.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: "Gotu", sans-serif;
  overflow: hidden;
  @media only scream and (max-width: 500px);
}
a {
  text-decoration: none;
  color: #000;
}
.registration-page {
  position: relative;
  bottom: 10%;
  width: 350px;
  padding: 10% 0 0;
  margin: auto;
  top: 5%;
}
form {
  position: relative;
  background: rgba(238, 229, 229, 0.5);
  max-width: 350px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 5px;
}
form input {
  background: rgb(247, 242, 242);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 5px;
}
form button {
  background: #9c3b3b;
  outline: 0;
  width: 50%;
  padding: 10px;
  font-size: 15px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}
form button:hover {
  background: rgb(116, 37, 37);
}

.access-point {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background: rgba(19, 18, 18, 0.7);
  border-right: 2px solid rgb(26, 22, 22);
  box-shadow: 0 0 10px 5px rgba(204, 192, 192, 0.815);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.access-point--open {
  left: 0;
  opacity: 1;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: rgba(19, 18, 18, 0.7);
  color: rgb(189, 180, 180);
  padding: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(201, 184, 184);
}
.links span {
  margin-right: 12px;
}
.links:hover {
  background: #eee5e5;
  color: #000;
}
