
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/UI/styles/accountpage.css">
   
    <title>EDU-VIDEO LIBRARY / account page</title>
</head>
<body>
     <div class="video-info">

<P>Subscribe to the Edu-Video youtube channel for much more</p>
 <p>action, romance, adventure, musicals, drama films,series</p> 
  
<button <a href="#">My cart</button>
 <button <a href="#">Add to cart</a.</button>
</div>

  
    
    <!--video details-->
       <div class="video-details">
        <h1>EDU-VIDEO LIBRARY</h1><br>
       <p>Video Title</p>
      <img src="/UI/static/Images/avengers.jpg" alt="avengers actors" widith="300px" height="300px"><br>
      <button <a href="#">Remove from Cart</a></button>
         <button <a href="#">Like</a></button>
         <button <a href="#">Unlike</a></button><br>
          </div>
 
        <div class="series">
        <h3>Smokin Hot Series</h3>
        <img src="/UI/static/Images/singles.jpg" widith="100px" height="100px"> 
        <img src="/UI/static/Images/twisted.jpg" widith="100px" height="100px">
        <img src="/UI/static/Images/loving.jpg" width="200px" height="100px">
        <img src="/UI/static/Images/haves.jpg" width="200px" height="100px">
        <img src="/UI/static/Images/dark.jpg" widith="200px" height="100px">
       </div>


   <!--comment section-->
   <div class="comment">
  <h5>Comments</h5>
  <form>
    <textarea placeholder="tap to comment"></textarea>
    <div class="btn">
      <input type="submit" value="Comment">
      <button>Cancel</buttton>
    </div>
        </form>
</div>
  
<!--footer-->
<div class="footer">
  <p>2020|Bel Air</p>
</div>


 

</body>
</html>