
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/UI/styles/accountpage.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/975f9df41c.js" crossorigin="anonymous"></script>
   
    <title>EDU-VIDEO LIBRARY / account page</title>
    <script>
      function toggleNav(){
          document.querySelector(".access-point").classList.toggle("access-point--open");
      }
  </script>
  </head>

<body>
  <!--nav bar-->
  <button onclick="toggleNav()" style="float: right; background: #9C3B3B;border: 0;width:5%;height: 30px;position: relative;top: 10%;right: 10%; font-size: 1.3rem; border-radius: 5px;">Menu</button>
  <div class="access-point">
      <a href="" class="links">
          <span class="fas fa-user">Profile</span>
      </a>
      <a href="#" class="links">
        <span class="fas fa-home">Home</span>
      </a>
      <a href="/UI/Templates/cart.html" class="links">
          <span class="fas fa-shopping-cart">My cart</span>
      </a>
      <a href="/UI/Templates/comments.html" class="links">
        <span class="fas fa-comments">Comments</span>
      </a>
      <a href="/UI/Templates/index.html" class="links">
          <span  class="fas fa-sign-out-alt">Log out</span>
      </a>
      
  </div>
  <!--end of nav bar-->
  <div class="video-info">
  <h1>BEL-AIR</h1>
  <P>subscribe to the bel-air youtube channel for more<br>
  action, romantic,adventure, musicals, drama films and series</p> 




    <div class="account-details">
      <img src="/UI/static/Images/man.jpg" width="40px" height="40px">

    </div>
    
    <!--video details-->
       <div class="video-details">
        <h1>EDU-VIDEO LIBRARY</h1><br>
       <p>Video Title</p>
      <img src="/UI/static/Images/avengers.jpg" alt="avengers actors" widith="300px" height="300px"><br>
      <button> <a href="#">Add To Cart</a></button>
         <button> <a href="#">Like</a></button>
         <button><a href="#"></a></button><br>
          </div>
 
        <div class="series">
        <h3>Check out series</h3>
        <img src="/UI/static/Images/singles.jpg" widith="100px" height="100px"> 
        <img src="/UI/static/Images/twisted.jpg" widith="100px" height="100px">
        <img src="/UI/static/Images/loving.jpg" width="200px" height="100px">
        <img src="/UI/static/Images/haves.jpg" width="200px" height="100px">
        <img src="/UI/static/Images/dark.jpg" widith="200px" height="100px">
        </div>
   <!--comment section-->

  <h5>Comment here</h5>
  <button> <a href="#">tap to comment</a></button><br>
    <button><a href="#">comment</a></button>
  <button><a href="#">cancel</a></button><br>


<!--footer-->
<footer>copyright bel-air</footer>




</body>
</html>