
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/UI/styles/accountpage.css">
   
    <title>EDU-VIDEO LIBRARY / account page</title>
</head>
<body>
  
  <!--nav bar-->
  <a href="#" class="nav-link">My Cart</a>  
  <!--end of nav bar-->
<div class="video-info">
<h1>BEL-AIR</h1>
<P>subscribe to the bel-air youtube channel for more<br>
 action, romantic,adventure, musicals, drama films and series</p> 
 <button <a href="#">subscribe</a></button>
 <button <a href="#">download</a.</button>
</div>

  <div ="container">
    <div class="account-details">
      <img src="/UI/static/Images/man.jpg" width="40px" height="40px">
     <button <a href="#">My videos</a></button><br>
       </div>
    
    <!--video details-->
       <div class="video-details">
        <h1>EDU-VIDEO LIBRARY</h1><br>
       <p>Video Title</p>
      <img src="/UI/static/Images/avengers.jpg" alt="avengers actors" widith="300px" height=300px";><br>
      <button <a href="#">Add To Cart</a></button>
         <button <a href="#">Like</a></button>
         <button <a href="#">Unlike</a></button><br>
          </div>
 
        <div class="series">
        <h3>Check out series</h3>
        <img src="/UI/static/Images/singles.jpg" widith="100px" height="100px"> 
        <img src="/UI/static/Images/twisted.jpg" widith="100px" height="100px">
        <img src="/UI/static/Images/loving.jpg" width="200px" height="100px">
        <img src="/UI/static/Images/haves.jpg" width="200px" height="100px">
        <img src="/UI/static/Images/dark.jpg" widith="200px" height="100px">
        </div>
   <!--comment section-->
   <div class="comments">
  <h5>Comment here</h5>
  <button <a href="#">tap to comment</a></button><br>
    <button <a href="#">comment</a></button>
  <button <a href="#">cancel</a></button><br>
</div>
  </div>
<!--footer-->
<footer>copyright bel-air</footer>




</body>
</html>