<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/UI/styles/accountpage.css">
</head>
<body>
    <button onclick="toggleNav()" style="float: right; background: #9C3B3B;border: 0;width:5%;height: 30px;position: relative;top: 10%;right: 10%; font-size: 1.3rem; border-radius: 5px;">Menu</button>
    <div class="access-point">
        <a href="" class="links">
            <span class="fas fa-user">Profile</span>
        </a>
        <a href="/UI/Templates/accountpage.html" class="links">
          <span class="fas fa-home">Home</span>
        </a>
        <a href="#" class="links cart>My cart">
            <span class="fas fa-shopping-cart">0</span>
        </a>
        <a href="/UI/Templates/comments.html" class="links">
          <span class="fas fa-comments">Comments</span>
        </a>
        <a href="/UI/Templates/index.html" class="links">
            <span  class="fas fa-sign-out-alt">Log out</span>
        </a>
        
    </div>
</body>
</html>