<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/accountpage.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gotu&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/975f9df41c.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
    <link rel="stylesheet" href="../styles/accountpage.css" />
  </head>
  <body>
    <div class="access-point">
      <a href="" class="links">
        <span class="fas fa-user">Profile</span>
      </a>
      <a href="LandingPage.html" class="links">
        <span class="fas fa-home">Home</span>
      </a>
      <a href="#" class="links cart">
        <span class="fas fa-shopping-cart"></span>My Cart
      </a>
      <a href="" class="links">
        <span class="fas fa-sign-out-alt">Log out</span>
      </a>
    </div>
    <div class="products-container">
      <div class="product-header">
        <h5 class="product-title">PRODUCT</h5>
        <h5 class="quantity">TYPE</h5>
        <h5 class="total">PRICE</h5>
      </div>
      <div class="products"></div>
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="../script/accountpage.js"></script>
  </body>
</html>
