<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" href="/UI/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gotu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Edu Video Library - Bel Air</title>
</head>
<body>
    <header>
        <div class="heading">
            <h1 style="color:#9C3B3B; font-family: 'Dancing Script', cursive;">EDU-UNIVERSAL</h1>
        </div>

        <p>We Give You The Best First</p>

        <button><a href="/UI/Templates/signup-form.html" class="a">Sign Up</a></button>
        <button><a href="/UI/Templates/login-form.html" class="a">Log In</a></button>
    </header>
    <div class="slider">
        <div class="content">
            <figure><img src="/UI/static/Images/bad_boys_for_life_2020_4k_8k-t1 (1).jpg" alt="bad boys"></figure>
            <figure><img src="/UI/static/Images/bloodshot_2020_movie_4k_5k-t1.jpg" alt=""></figure>
            <figure><img src="/UI/static/Images/toystory.jpg" alt=""></figure>
            <figure><img src="/UI/static/Images/the_witcher_tv_series_2020_4k-t1.jpg" alt=""></figure>
            <figure><img src="/UI/static/Images/the_spongebob_movie_sponge_on_the_run_2020_5k-t1.jpg" alt=""></figure>
            <figure><img src="/UI/static/Images/scarlett_johansson_in_black_widow-t1.jpg" alt=""></figure>
            <figure><img src="/UI/static/Images/birds_of_prey_harley_quinn_4k-t1.jpg" alt=""></figure>
            <figure><img src="/UI/static/Images/1917_war_movie_5k-t1.jpg" alt=""></figure>
            <figure><img src="/UI/static/Images/yifei_liu_in_mulan_2020_4k_8k-t1.jpg" alt=""></figure>
        </div>

    </div>

    <div class="footer">
        <p>2020|Bel Air</p>
    </div>

</body>
</html>