<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" href="/UI/styles/Landing Page.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Edu Video Library - Bel Air</title>
</head>
<body>
    <header>

            <div>
               <h2><i class="fas fa-laptop-code"></i></i></h2> 
            </div>
            <nav>
                <ul id="navbar">
                    
                    <button><a href="/UI/Templates/signup-form.html" class="a">Sign Up</a></button>
                    <button><a href="/UI/Templates/login-form.html" class="a">Log In</a></button>
                    
                </ul>
            </nav>
            
        </header>
    
        <div class="heading">
            <h1>EDU VIDEO LIBRARY</h1>

        </div>

        <p>the very best FIRST</p>

    <!-- <header>
        <div class="Logo"> 
            <img src= "/Images/output-onlinepngtools (2).png" alt="Company_Logo">
        </div>
        <div class="header-right">
            <a href="#sign up">Sign Up</a>
            <a href="#Login">Login</a>
        </div>
        <div id="main content">
            <h1>EDU VIDEO LIBRARY</h1>
        </div>
    </header> -->
    <div class="slider">
        <div class="content">
            <figure><img src="/UI/static/Images/bad_boys_for_life_2020_4k_8k-t1 (1).jpg" alt="bad boys"></figure>
            <figure><img src="/UI/static/Images/bloodshot_2020_movie_4k_5k-t1.jpg" alt=""></figure>
            <figure><img src="/UI/static/Images/toystory.jpg" alt=""></figure>
            <figure><img src="/UI/static/Images/the_witcher_tv_series_2020_4k-t1.jpg" alt=""></figure>
            <figure><img src="/UI/static/Images/the_spongebob_movie_sponge_on_the_run_2020_5k-t1.jpg" alt=""></figure>
            <figure><img src="/UI/static/Images/scarlett_johansson_in_black_widow-t1.jpg" alt=""></figure>
            <figure><img src="/UI/static/Images/birds_of_prey_harley_quinn_4k-t1.jpg" alt=""></figure>
            <figure><img src="/UI/static/Images/1917_war_movie_5k-t1.jpg" alt=""></figure>
            <figure><img src="/UI/static/Images/yifei_liu_in_mulan_2020_4k_8k-t1.jpg" alt=""></figure>
        </div>

    </div>

    <div class="footer">
        <p1>©2020|Bel Air</p1>
    </div>

</body>
</html>