<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDU VIDEO LIBRARY/Log in</title>
    <link rel="stylesheet" href="/UI/styles/registrationform.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gotu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/975f9df41c.js" crossorigin="anonymous"></script>
    <script src="/UI/script/index.js"></script>
    <script>
        function toggleNav(){
            document.querySelector(".access-point").classList.toggle("access-point--open");
        }
    </script>m
</head>
<body>
    <button onclick="toggleNav()" style="float: right; background: #9C3B3B;border: 0;width: 5%;height: 30px; font-size: 1.3rem; border-radius: 5px;">Menu</button>
    <div class="access-point">
        <a href="/UI/Templates/index.html" class="links">
            <span class="fas fa-home">Home</span>
        </a>
    </div>
    <div class="registration-page">
        <div>
            <form action="/UI/Templates/accountpage.html">
                <input type="text" placeholder="user name" id="username" />
                <input type="email" placeholder="email" id="email" />
                <input type="password" placeholder="password" id="password" />
                <button onclick="Validate(event)">Log In</button>
                <!-- <button><a href="/UI/Templates/accountpage.html">Sign Up</a></button> -->
              </form>
        </div>
    </div>
</body>
</html>