<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDU VIDEO LIBRARY/sign up</title>
    <link rel="stylesheet" href="/UI/styles/registrationform.css">
    <script src="../Javascript/index.js"></script>
</head>
<body>
    <div class="registration-page">
        <div>
            <form name="forms" method="post"><br>
                <input type="text" placeholder="user name" name="Name"><br>
                <input type="password" placeholder="password" name="password"><br>
                <input type="password" placeholder="confirm password" name="password"><br>
                <input type="text" placeholder="email" name="email"><br>
                <input type="submit" value="Sign Up" name="Submit" onclick="Validate()" class="button">  
            </form>
        </div>
    </div>
</body>
</html> 